@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-bg: #00071d;
    --item-hover: #1c2339;
    --secondary-bg: #36415e;
    --main-container-bg: #131c31;
    --text-color: #fff;
    --tooltip-bg: #251d33;
    --container-shadow: rgba( #131c31, 0.2) 0px 7px 
  }
  body {
    background-color: #010409;
    color: aliceblue;
    padding-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
    }
  header {
    z-index: 10;
    background-color: #1a1a1b;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid #a5a5fb2e;
  }
  .write-post-container{ 
    max-width: 1100px;
    background: #1a1a1b;
    border-radius: 6px;
    padding: 20px;
    margin: 1rem auto;
    border: 1px solid #30363d;
  }
  .user-profile{
    display: flex;
    align-items: center;
  
  }
  .img{
    background-image: url(https://i.pinimg.com/564x/75/15/6c/75156c3f9c75dd719e75d137a10144ff.jpg);
    background-size: cover;
    aspect-ratio: 1;
    background-position: center;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-profile p{
    margin-bottom: -5px;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .user-profile small{
    font-size: 12px;
    
  }
  .post-input-container{
    padding-left: 55px;
    padding-top: 20px;
  
  }
  .post-input-container input{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    padding: 0.5rem 1rem;  
    color: aliceblue;
  }
  .post-input-container input::placeholder{
    color: rgb(118, 119, 120);
  }
  .add-post-links{
    display: flex;
    margin-top: 10px;
  
  }
  .add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
  
  }
  .add-post-links a img{
    width: 20px;
    margin-right: 10px;
  
  }
  .post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
  
  }
  .user-profile span{
    font-size: 13px;
    color: #9a9a9a;
  
  }
  .img-logo {
    height: 40px;
    object-fit: cover;
    margin-top: 0.4rem;
  }
  
  .search-input {
    padding: 0 1rem 0 0.5rem;
    display: flex;
    width: 29%;
    margin: 0.4rem 0;
    transition: all 1s;
    border-radius: 9px;
    justify-content: space-around;
    background-color: #3c2af947;
  }
  .search-input:hover {
    border: 2px solid #138deb;
  }
  .search-field {
    outline: none;
    padding: 0.5rem;
    width: 92%;
    border: none;
    font-size: 16px;
    background-color: #0d1117;
  }
  .search-field {
    color: azure;
  }
  .fa-search {
    padding: 0.5em 0.2em 0.3em 0.2em;
    font-size: 22px;
    opacity: 0.7;
  }
  .login-signup {
    display: flex;
    justify-content: space-around;
  }
  
  .log-btn {
    height: 2.1rem;
    margin-right: 1rem;
    width: 7rem;
    background-color: #0d1117;
    color: #0b7ed5;
    font-weight: 400;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid #0b7ed5;
    transition: all 1s;
    cursor: pointer;
    padding: 0.4rem 2rem;
    text-decoration: none;
  }
  .log-btn:hover {
    background-color: #0b7dd512;
  }
  .user-from-fetch{
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 2rem;
  }
  .log-out-form > button{
    background-color: transparent;
    padding-right: 1rem;
    border: none;
    color: blue;
    opacity: 0.9;}
  .sign-btn {
    height: 2.1rem;
    width: 7rem;
    background-color: #0b7ed5;
    color: aliceblue;
    font-weight: 400;
    font-size: 15px;
    border-radius: 30px;
    border: 2.5px solid #0b7ed5;
    transition: all 1s;
    cursor: pointer;
    padding: 0.4rem 1.6rem;
    text-decoration: none;
  }
  .sign-btn:hover {
    background-color: #0b7dd5cd;
  }
  .fa-user {
    opacity: 0.6;
    padding: 9px 30px 2px 55px;
    font-size: 30px;
    display: block;
    cursor: pointer;
  }
  .fa-sign-out-alt {
    opacity: 0.6;
    padding: 9px 30px 2px 20x;
    font-size: 30px;
    display: none;
    cursor: pointer;
  
  }
  @media (max-width: 750px) {
    .fa-user {
      padding: 9px 15px 2px 20px;
    }
    .log-btn {
      display: none;
    }
    .sign-btn {
      display: none;
    }
    .search-input {
      width: 70%;
    }
  }
  @media (max-width: 600px) {
    .fa-user {
      padding: 9px;
    }
  }
  .p-trending {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0 1rem 0.8rem;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.7;
    margin: 0 auto;
    max-width: 1100px;
  }
  .trending-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
  }
  .trending-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 1rem 1rem;
    background: #fff
      url(https://i.pinimg.com/236x/32/58/ea/3258ea5dc30da91c89b5d51a87d420bd.jpg)
      center top/cover no-repeat;
    cursor: pointer;
    border-radius: 8px;
    height: 200px;
    width: 260px;
    color: #0d1117;
  }
  .trending-1 > h3 {
    font-weight: 900px;
    padding-bottom: 6px;
  }
  .trending-1 > p {
    padding-bottom: 6px;
  }
  .trending-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    padding: 0 0 1rem 1rem;
    background: #fff url(https://i.pinimg.com/236x/34/b7/5f/34b75f65b4d93aaad682abb77b72f42b.jpg)
     center top/cover no-repeat;
    cursor: pointer;
    width: 260px;
    height: 200px;
    color: #0d1117;
  }
  .trending-2 > h3 {
    font-weight: 900px;
    padding-bottom: 6px;
  }
  .trending-2 > p {
    padding-bottom: 6px;
  }
  .trending-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    width: 260px;
    padding: 0 0 1rem 1rem;
    background: #ffffff
      url(https://i.pinimg.com/236x/5b/a3/23/5ba323371127664320bde1205d56718c.jpg)
      center center/cover no-repeat;
    cursor: pointer;
    height: 200px;
    color: #0d1117;
  }
  .trending-3 > h3 {
    font-weight: 900px;
    padding-bottom: 6px;
  }
  .trending-3 > p {
    padding-bottom: 6px;
  }
  .trending-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    width: 260px;
    padding: 0 0 1rem 1rem;
    background: #ffffff
      url(https://i.pinimg.com/236x/6f/c2/54/6fc254009ae13ec3409ddaff38066d24.jpg)
      center center/cover no-repeat;
    height: 200px;
    cursor: pointer;
    color: #0d1117;
  }
  .trending-4 > h3 {
    font-weight: 900px;
    padding-bottom: 6px;
  }
  .trending-4 > p {
    padding-bottom: 6px;
  }
  @media (max-width: 1050px) {
    .trending-4 {
      display: none;
    }
  }
  @media (max-width: 750px) {
    .trending-3 {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .trending-2 {
      display: none;
    }
  }
  .container-popular-posts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1100px;
    margin: 0 auto;
  }
  .container {
    width: 48rem;
  }
  
  .container > p {
    padding: 1rem 0 1rem 0.8rem;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.7;
  }
  .popular-posts {
    border: 1px dashed rgb(94 93 93 / 38%);
    background-color: #0d1117;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 59px;
    border-radius: 3px;
    flex-wrap: wrap;
    align-items: center;
  }
  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
  }
  .hot-icon {
    border-radius: 15px;
    width: 86px;
    height: 2.4rem;
    background-color: #30363d;
    transition: all 0.5s;
    cursor: pointer;
  }
  .fa-hotjar {
    color: #0272c5;
    font-size: 19px;
    padding-top: 0.3rem;
  }
  .hot-icon > span {
    font-size: 20px;
  }
  .select-eria {
    width: 150px;
    font-size: 18px;
    padding: 9px;
    background-color: #f6f7f8;
    color: #0272c5;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .new-icon {
    border-radius: 15px;
    width: 86px;
    height: 2.4rem;
    cursor: pointer;
    transition: all 0.5s;
  }
  .new-icon:hover {
    background-color: #e4e4e4;
  }
  .fa-sun,.fa-jet-fighter-up,.fa-rocket,.fa-arrow-trend-up {
    color: #a6a8a9;
    font-size: 19px;
    padding-top: 0.3rem;
  }
  .new-icon > span {
    color: #a6a8a9;
    font-size: 20px;
  }
  .top-icon {
    border-radius: 15px;
    width: 86px;
    height: 2.4rem;
    cursor: pointer;
    transition: all 0.5s;
  }
  .top-icon:hover {
    background-color: #e4e4e4;
  }
  .fa-arrow-to-top {
    color: #a6a8a9;
    font-size: 19px;
    padding-top: 0.3rem;
  }
  .top-icon > span {
    color: #a6a8a9;
    font-size: 20px;
  }
  .fa-th-list {
    color: #a6a8a9;
    padding-right: 1rem;
    font-size: 20px;
    cursor: pointer;
  }
  .icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 4px 1rem;
    width: fit-content;
  }
  .icon:hover{
    background-color: #30363d;
  }
  @media (max-width: 660px) {
    .new-icon {
      display: none;
    }
    .top-icon {
      display: none;
    }
    .fa-th-list {
      display: none;
    }
  }
  @media (max-width: 600px) {
    .options {
      width: auto;
      display: flex;
      justify-content: space-evenly;
    }
  }
  .right-par {
    margin-top: 3.3rem;
    width: 300px;
  }
  .right-par-header {
    margin-bottom: 1rem;
    height: 60px;
    width: 100%;
    background-color: #0d1117;
  }
  .right-par-btn > button {
    margin-top: 1rem;
    background-color: #0089f2;
    color: #0d1117;
    padding: 0.3rem 5rem;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }
  .right-par-btn > button:hover {
    background-color: #0089f2c9;
  }
  .right-par-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
  }
  .right-par-opcion {
    background-color: #0d1117;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .right-par-opcion > a {
    margin: 0.4rem 0;
    text-decoration: none;
    background-color: #262626;
    border-radius: 17px;
    padding: 0.3rem 0.6rem;
    font-weight: bold;
    color: #0089f2;
  }
  @media (max-width: 1050px) {
    .right-par {
      display: none;
    }
  }
  .reddit-premium {
    background-color: #0d1117;
    margin-top: 2rem;
    padding: 8px 12px;
  }
  .reddit-premium h6 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .reddit-premium p {
    display: inline-block;
    font-size: 12px;
  }
  .fa-shield-virus {
    font-size: 22px;
    color: #0089f2;
  }
  .reddit-premium > button {
    margin-top: 1rem;
    background-color: #611efd;
    color: azure;
    padding: 0.3rem 5rem;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    margin-left: 2rem;
  }
  .reddit-premium > button:hover {
    background-color: #0095ffc7;
  }
  .Drop-down-menu {
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .Drop-down-menu > div {
    cursor: pointer;
    border: 0.7px solid rgb(91 90 90 / 40%);
    border-radius: 4px;
    padding: 0.7rem 1rem;
  }
  .Drop-down-menu > div > p {
    font-weight: bold;
    opacity: 0.8;
    font-size: 11px;
    display: inline-block;
    width: 94%;
  }
  
  .help-about {
    padding: 1rem;
    position: sticky;
    top: 72px;
    margin-top: 2rem;
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
  }
  .help > P {
    font-size: 13px;
    cursor: pointer;
    color: #138deb;
    padding: 0.2rem 0 0.5rem 0;
    width: 48%;
    display: inline-block;
  }
  .rights > p {
    width: 100%;
    color: #a6a8a9;
    padding: 1rem 0 0.3rem 0;
  }

  .post-side {
    max-width: 1100px;
    margin-top: 2rem;
    display: flex;
  }
  .post-side:hover {
    border: 0.1px solid #30363d;
  }
  .like-dislike {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50px;
    background-color: #161617;
    padding-top: 1rem;
  }
  .like-dislike p {
    font-weight: 800;
    padding: 0.5rem;
  }
  .fa-arrow-alt-up {
    color: rgba(0, 0, 0, 0.503);
    padding-top: 7px;
    font-size: 20px;
    transition: all 0.5s;
  }
  
  .fa-arrow-alt-up:hover {
    color: rgba(13, 0, 255, 0.462);
  }
  
  .fa-arrow-alt-down {
    color: rgba(0, 0, 0, 0.503);
    font-size: 20px;
    transition: all 0.5s;
  }
  
  .fa-arrow-alt-down:hover {
    color: rgba(103, 103, 103, 0.208);
  }
  
  .lode-main-post {
    display: flex;
    flex-direction: column;
  }
  .main-post {
    background-color: #0d1117;
    width: 100%;
  }
  
  .post-part-1 {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    align-items: center;
  }
  .person {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .post-part-1 img.personal {
    height: 60px;
    border-radius: 50%;
  }

  .post-part-1 > span {
    font-size: 13px;
    opacity: 0.6;
    cursor: pointer;
  }
  .post-part-1 > button {
    background-color: #0089f2;
    color: #0d1117;
    padding: 0.3rem 1rem;
    font-size: 14px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    margin-left: 2rem;
  }
  .post-part-1 > button > a {
    text-decoration: none;
    color: #0d1117;
  }
  .post-part-1 > button > i {
    padding-right: 0.5rem;
    font-size: 18px;
  }
  .post-part-1 > button:hover {
    background-color: #0089f2ce;
  }
  
  .post-part-2 > p {
    padding: 1rem 1rem 2rem;
    opacity: 0.7;
    font-size: 18px;
    cursor: pointer;
  }
  
  .post-part-2 > span {
    display: block;
    padding: 0.7rem 0.5rem;
    cursor: pointer;
    color: #0089f2ec;
    font-size: 14px;
    text-decoration: revert;
  }
  
  .post-part-3 {
    text-align: center;
  }
  
  .post-part-3 > img {
    height: 450px;
  }
  
  .post-part-4 {
    height: 35px;
    padding-left: 0.5rem;
    cursor: pointer;
    padding-right: 47%;
    background: #1a1a1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .post-part-4 > p {
    color: #9b9b9b;
    padding: 0.5rem;
    border-radius: 7px;
    transition: all 0.5s;
  }
  .post-part-4 > p:hover {
    background-color: #2a2424;
  }
  
  .pop_up_to_top {
    bottom: 40px;
    font-size: 48px;
    right: 82px;
    position: fixed;
    border-radius: 50%;
    color: #0089f2ce;
    cursor: pointer;
    transition: all 0.5s;
    display: none;
  }
  .pop_up_to_top:hover {
    color: #0089f298;
    transition: all 0.5s;
  }
  .pop_up_to_top.active {
    display: flex;
    transition: all 0.5s;
  }
  .fa-square-caret-down:before, .fa-square-caret-up:before {
    font-size: 2rem;
    color: #929292;
  }
  .trending {
    color: aliceblue;
  }
  .cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
  .post-part-4 .fa-solid::before {
    margin-left: 0.5rem;
  }
  a {
    text-decoration: none;
    color: #0089f2;
   }
   .per-photo .img {
     position: relative;
     border-radius: 50%;
     cursor: pointer;
    }
    .per-photo .img::after {
        content:' ';
        width: 7px;
        height: 7px;
        border: 2px solid #fff;
        border-radius: 50%;
        background: #41db51;
        position: absolute;
        top: 0;
        right: 0;
    }
    .user-profile a{
      font-size: 12px;
      color: #1876f2;
      text-decoration: none;
  
  }
  .settings-menu-inner{
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 48.8px;
    background-color: #1a1a1b;
    border: 1px solid #36415e;
    border-radius: 8px;
    display: none;
  }
  .settings-menu hr{
      border: 0;
      height: 1px;
      background: #9a9a9a;
      margin: 15px 0;
  
  }
  .settings-links{
      display: flex;
      align-items: center;
      margin: 6px 0;
  
  }
  .settings-links .settings-icon{
      width: 38px;
      margin-right: 10px;
      border-radius: 50%;
  
  }
  .settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0b7dd5;
  }
  hr {
    border: 0;
    height: 1px;
    background: #cccccc26;
    margin: 10px 0;
  }
  .settings-menu-inner .fa-solid, .settings-menu-inner .fa-brands {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    color: cornflowerblue;
    background-color: #30363d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    display: block;
  }
  .postPopup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #010609b0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .post-form {
    width: 600px;
    height: 500px;
    background-color: #0f0424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    font-family: 'Carlito', sans-serif;
    border: 1px solid #1c2339;
    border-radius: 4px;
  }
  .post-form h3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: coral;
    font-family: 'Carlito', sans-serif;
    font-weight: 700;
    font-size: xx-large;
  }
  .post-form input::after {
    content:'';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: #ffffff;
  }
  .post-form input {
    width: 90%;
    height: 2rem;
    padding: 1rem;
    border: 1px solid #7f7f7f;
    background-color: transparent;
    border-radius: 4px;
    color: azure;
  }
  textarea {
    max-width: 90%;
    min-width: 90%;
    padding: 1rem;
    height: 120px;
    border: 1px solid #7f7f7f;
    background-color: transparent;
    border-radius: 4px;
    color: azure;
  }
  .post-form i.fa-trash {
    position: absolute;
    top: 5%;
    right: 4%;
    color: rgb(255 254 254);
    width: 30px;
    height: 30px;
    border: 1px solid #30363d;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.show {
  display: flex;
}
.postPopup input[type="submit"] {
  height: 2rem;
  padding: 1rem;
  border: 1px solid #7f7f7f;
  background-color: transparent;
  border-radius: 4px;
  color: azure;
  background-color: #131c31;
  color: darkturquoise;
  font-size: 18px;
  padding: 0.4rem;
  position: absolute;
  right: 24px;
  bottom: 10px;
  width: 102px;
  cursor: pointer;
}
